<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer in India</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <header>
        <h1>Cancer Data in India</h1>
    </header>

    <main>
        <div class="section">
            <h2>How to Use This Dashboard</h2>
            <p>Welcome to the Cancer Data Dashboard for India. This website provides visual insights into Cancer cases, death rates, and cure rates across different states. Use the form below to select the number of top states you want to analyze. The dashboard
                will update to show charts and graphs related to Cancer data in those states.</p>
        </div>

        <div class="form-container">
            <form action="/" method="get">
                <label for="top_n">Show Top N States:</label>
                <input type="number" id="top_n" name="top_n" value="{{ top_n }}" min="1" max="35">
                <input type="submit" value="Update">
            </form>
        </div>

        <div class="section">
            <h2>Top {{ top_n }} States in India: Cancer Cases</h2>
            <p>This bar chart shows the number of Cancer cases in the top {{ top_n }} states. Each bar represents a state, with the height of the bar corresponding to the number of cases.</p>
            <div class="chart-container" data-aos="fade-up">
                {{ bar_fig_html | safe }}
            </div>
        </div>

        <div class="section">
            <h2>Distribution of Cancer Cases in Top {{ top_n }} States</h2>
            <p>The pie chart illustrates the distribution of Cancer cases among the top {{ top_n }} states. Each slice represents a state, with the size of the slice proportional to the number of cases in that state.</p>
            <div class="chart-container" data-aos="fade-up" data-aos-delay="200">
                {{ pie_fig_html | safe }}
            </div>
        </div>

        <div class="section">
            <h2>Distribution of Cure and Death Rates in Top {{ top_n }} States</h2>
            <p>This scatter plot provides an overview of cure rates versus death rates for the top {{ top_n }} states. Each point represents a state, with its position indicating the cure rate and death rate.</p>
            <div class="chart-container" data-aos="fade-up" data-aos-delay="400">
                {{ scatter_fig_html | safe }}
            </div>
        </div>

        <div class="section">
            <h2>Area Chart of Cancer Cases: Top {{ top_n }} States</h2>
            <p>This interactive area chart visualizes data for the top {{ top_n }} states.</p>
            <div class="chart-container" data-aos="fade-up" data-aos-delay="600">
                {{ area_fig_html | safe }}
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Cancer Data Dashboard. All rights reserved.</p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>